<div class="jumbotron p-5 md-4 text-white rounded bg-dark">
        <div class="col-md-12 px-0">
          <an class="display-4 ">Blogs that Educate and Inform</h1>
          <p class="lead my-3 font-italic">I share my years of experience in the articles below; enjoy them!</p>
    
          <p>
            <% if logged_in?(:site_admin) %>
            <span>
              <%= link_to "Write New Blog", new_blog_path, class:"btn btn-outline-primary"  %>
              <%= link_to 'Topics', topics_path, class:"btn btn-outline-primary" %>
            </span>
            <% end %>
          </p>
        </div>
</div>
<main role="main">
      <div class="row">
        <div class="col-md-8 blog-main">
          <%= paginate @blogs %>
          <%= render @blogs %>
          <nav class="blog-pagination">
            <%= paginate @blogs %>
          </nav>
        </div><!-- /.blog-main -->
      </div><!-- /.row -->

</main><!-- /.container -->

