<div class="app-card-container mt-5 mb-10">
  <div class="card">
    <h1>About Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "dan1.jpg", width: 250, alt: "profile image", class: 'rounded' %>
        <div class="skills mt-5">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-8">
        <p>
          My years of experience in software engineeering and development has taught me that getting the job done Well and on Time is how you satisfy the needs of your clients, build dreams into reality and make the world a better place for all.
          These principle has since become my yardstick when working on any projects, software or otherwise.
          That also requires that I apply a user-centered approach to the entire development process.
        </p>

        <p>
          For this reason, I make sure that my clients and end users are constantly updated on the progress of the projects so as to meet thier specifications at the end of the project. <br>
          After all, <blockquote class="ml-5"><i>"If it must be done, it must be down well and it must be done Now!"</i</blockquote>
        </p>

        <%= render 'about_buttons' %>
        <%= render 'about_job_history' %>
        <%= render 'about_education' %>
        <%= render 'about_courses' %>
        <%= render 'about_achievements' %>
      </div>
    </div>
  </div>
</div>


